/* LOGIN AND REGISTER USER FORMS */

.wrapper{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.entry-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(170, 170, 170);
    background: url(./images/teal2.jpg);
    background-size: cover;
}
.entry-form-box{
    width:40%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 20px;
    padding: 50px 10px 20px 10px;
    background-color: #111827;
    /* border: 1px solid #ffbb00; */
}
.entry-form-box h1{
    color: #ffbb00;
    margin-left: 10px;
}
.entry-form-box p{
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 10px;
    color: white;
}
.entry-form{
    width: 100%;
}
.entry-form a, .entry-link a{
    font-size: 14px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffbb00;
    align-self: flex-start;
}
.entry-form input, .birthdt-reg-box select{
    width: 100%;
    height: 40px !important;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #b8b8b8;
    font-size: 14px;
    outline: none;
    padding: 5px 10px;
    background-color: white !important;
    border: 1px solid #ffbb00;
    color: #1f1f1f !important;
}
.entry-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #ec9a00;
    color: white;
    font-size: 18px;
    box-shadow: 4px 4px 20px #ec9a00;
    margin-top: 25px;
}
.entry-btn:hover{
    background-color: #f3b645;
}
.entry-link{
    width: 100%;
    margin-top: 30px;
}
.entry-link h6{
    font-size: 12px;
    font-weight: lighter;
    color: white;
}
.reg-names-box, .birthdt-reg-box {
    width: 100%;
    display: flex;
    
}
.reg-names-box input:nth-child(1){
    margin-right: 5px;
}
.reg-names-box input:nth-child(2){
    margin-left: 5px;
}
.birthdt-reg-box select{
    margin-right: 5px;
}
.error-msg-box{
    width: 100%;
    background-color: #ff5050;
    border-radius: 30px;
    min-height: 40px;
    padding: 5px 20px;
}
.error-msg{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}
.login-popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
}

/* NAVBAR */

.top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #111827;
    z-index: 100000;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tn-left, .tn-center,.tn-right{
    width: 33.3%;
    height: 100%;
}
.tn-left{
    display: flex;
    align-items: center;
}
.logo{
    height: 80%;
    width: auto;
    color: white;
}
.tn-search-input{
    width: 100%;
    height: 80%;
    /* border-radius: 0 50px 50px 0; */
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 15px;
    background-color: white;
    border: 1px solid #ffffff;
    border-left: none;
    color: #1f1f1f;
}
.search-icon{
    width: 35px;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-right: none;
    color: #111827;
    text-align: center;
    line-height: 40px;
    border-radius: 50px 0 0 50px;
}
.tn-right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tn-menu-btn i{
    font-size: 20px;
    color: white;
    display: none;
}
.user-avatar{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid whitesmoke;
}
.avatar-img{
    min-width: 100%;
    min-height: 100%;
}
.tn-dropdown-menu{
    position: fixed;
    top: 60px;
    right: 0;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-top: none;
    box-shadow: -2px 2px 10px;
}
.tn-center{
    position: relative;
}
.search-drop{
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: white;
    border: 1px solid #111827;
    background-color: white;

}
.search-user-box{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 2px;
    cursor: pointer;
}
.search-user-box p, .search-user-box h5{
    color: #1f1f1f;
}
.search-user-box:hover{
    background-color: #b8b8b8;
}
.see-all-btn{
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #111827;
}
.see-all-btn:hover{
    background-color: #b8b8b8;
}

.search-wrapper{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.search-results{
    width: 45%;
    height: auto;
    padding: 50px;
    text-align: center;
}
/* PROFILE */

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 120px 180px;
}
.left-navbar{
    height: fit-content;
    width: 20%;
    padding: 0 5px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    background-color: #111827;
    z-index: 10000;
}
.ln-list a li, .tn-dropdown-menu a li{
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    background-color: #111827;
}
.ln-list a li:hover, .tn-dropdown-menu a li:hover{
    background-color: #1c2433;
}

.profile-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.profile-info-box{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    background-color: #111827;
}
.pf-info{
    height: 180px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: white;
}
.pf-name{
    font-size: 30px;
}
.pf-tagname{
    font-size: 16px;
}
.pf-stats {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 30px;
}
.pf-stats div{
    text-align: center;
    cursor: pointer;
}
.pf-stats div:nth-child(3){
    cursor:default;
}
.pf-stats div h6{
    font-size: 14px;
    color: white;
}
.pf-stats div p{
    margin-top: 5px;
    font-size: 14px;
}
.pf-edit-follow-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 40px;
    color: #111827;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: whitesmoke;
}
.pf-editpf-btn:hover{
    background-color: #a8a8a8;
}
.send-msg-btn{
    right: 180px;
}

/* USER LISTS */

.user-list-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 100000;
}
.user-list-box{
    width: 50%;
    max-width: 700px;
    height: auto;
    max-height: 60vh;
    background-color: white; 
    overflow-y: scroll;
}
.list-type{
    width: 100%;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    background-color: #111827;
    color: white;
}
.list-exit{
    position: relative;
    width: 50%;
    max-width: 700px;
}
.list-exit .fas{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.empty-list{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}
.foll-user-box{
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 5px 10px;
}
.foll-user-box a{
    display: flex;
}
.foll-user-info{
    height: 100%;
    margin-left: 20px;
    align-items: flex-start !important;
}
.user-list-box .pf-edit-follow-btn{
    background-color: #111827;
    color: white;
}
.foll-user-info p{
    color: #1f1f1f;
}
.foll-user-info p:nth-child(1){
    font-size: 18px;
}
.foll-user-info p:nth-child(2){
    font-size: 14px;
    text-align: left;
}

/* EDIT PROFILE */

.edit-pf-box{
    width: 100%;
    height: auto;
    background-color: #111827;
    border-radius: 10px;
    border: 1px solid #1f1f1f;
    margin-left: 100px;
    display: flex;
}
.edit-pf-sidebar{
    width: 20%;
    height: 100%;
    background-color: #111827;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.edit-pf-sidebar a li{
    font-size: 14px;
}
.edit-box{
    width: 80%;
    height: 100%;
    padding: 30px 100px;
}
.edit-pfp-container{
    position: relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1000000;
}
.edit-pfp-menu{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #464646;
    overflow: hidden;
}
.edit-pfp-menu ul{
    width: 100%;
}
.edit-pfp-menu ul li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #757575;
    text-align: center;
    line-height: 50px;
}
.edit-pfp-menu ul li:hover{
    background-color: #c2c2c2;
    cursor: pointer;
}

/* NEW POST BOX */
.add-np-box{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
    background-color: #111827;
}
.add-np-txt{
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
}
.add-np-txt img{
    height: 100%;
    border-radius: 50%;
}
.add-np-input{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    color: #1f1f1f;
}
.add-np-tbtn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}
.add-np-types{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}
.add-np-types i{
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}    
.add-np-types p{
    margin-left: 10px;
    font-size: 14px;
    color: whitesmoke;
}   
.add-np-types i:hover{ 
    color: #a8a8a8;
}    
.dropzone-box{
    border: 2px dashed white;
    border-radius: 20px;
}

/* POSTS */

.posts-container-feed{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    background-color: #dfdfdf;
}
.post{
    position: relative;
    width: 100%;
    margin-top: 40px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}
.fp-info-save{
    width: 100%;
    height: 50px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    border-radius: 10px 10px 0 0;
    background-color: #111827;
}
.fp-info{
    height: 100%;
    display: flex;
    align-items: center;
}
.fp-info p{
    color: rgb(46, 46, 46);
    font-size: 16px;
    margin-left: 15px;
    color: white;
}
.fp-like-btn, .fp-save-btn, .fp-options-btn{
    color: white; 
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.fp-like-btn{
    margin-left: 5px;
    margin-right: 10px;
}
.fp-options-btn{
    margin-right: 10px;
    margin-left: 5px;
}
.fp-options-menu{
    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;
    border: 1px solid #1f1f1f;
    z-index: 1;
}
.fp-options-menu li{
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    color: #1f1f1f;
    font-size: 14px;
    padding-left: 10px;
    border-bottom: 1px solid #a1a1a1;
    background-color: white;
    cursor: pointer;
}
.fp-options-menu li:hover{
    background-color: #dbdbdb;
}

.feed-post-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);

}
.feed-post-img img{
    max-width: 100%;
    max-height: 90vh;
}
.post-text{
    width: 100%;
    min-height: 40px;
    padding: 10px 10px 20px 10px;
    background-color: white;
}
.post-text p{
    color: #1f1f1f;
    white-space: pre-wrap;
}
.like-count{
    font-size: 14px;
}


/* COMMENTS */

.comment-cont{
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 100%;
    color: white;
    padding-left: 5px;
    background-color: #111827;
}

.fp-add-comment{
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    background-color: #111827;
    color: white;
    border-top: 1px solid white;
}
.fp-add-comment input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #111827;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 2px;
}
.fp-cmt-btn{
    height: 100%;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    background-color: white;
    color: #1f1f1f;
}
.fp-cmt-btn:hover {
    background-color: #c2c2c2;
}

/* STORIES */

.stories-container{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    border: 2px solid #111827;
    display: flex;
    align-items: center;
    padding: 5px;
}    
.story{
    height: 100%;
    margin-left: 2%;
    border-radius: 50%;
}    
.story img{
    border-radius: 50%;
}    
.add-story-btn{
    height: 100%;
    width: 68px;
    border-radius: 50%;
    border: 2px solid #111827;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}
.add-story-btn i{
    font-size: 30px;
    color: #111827;
    cursor: pointer;
}


/* LOADER */

.spinner-box{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10000000000000000;
    min-height: 120px;
}
.spinner {
    width:120px;height:120px;
    left:48%;top:40%;
    border: 10px solid #111827;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.inner-spinner{
    width:100%;height:100%;
    left:48%;top:40%;
    border: 10px solid #111827;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s reverse infinite;
}
.small-spinner{
    width:60px;height:60px;
    left:48%;top:40%;
    border: 5px solid #111827;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

/* CHATS */

.all-chats-box{
    position: fixed;
    top: 60px;
    left: 0;
    width: 350px;
    overflow:auto;
    height: 100vh;
    z-index: 1000;
    background-color: #182136;
}
.chat-user-box{
    position: relative;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chat-user-box:hover{
    background-color: #111827;
}
.chat-name-msg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.chat-name-msg p{
    color: white;
}

.chat-msg-box{
    position: relative;
    width: auto;
    height: 100vh;
    padding-bottom:110px;
    padding-top: 60px;
    margin:0 0 0 350px;
    background-color: white;
    z-index: 999;
}
.msg-input-box{
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 50px;
    padding: 5px 20px 5px 370px;
    width: 100%;
    z-index: 1000;
    background-color: #111827;
}
.msg-input-box textarea{
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    resize: none;
}
.chat-messages{
    width: 100%;
    height:100%;
    background-color: white;
    overflow:auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
}
.msg-wrapper-cu, .msg-wrapper-ou{
    width: 100%;
    display: flex;
}
.msg-wrapper-cu{
    justify-content: flex-end;
    align-items: center;
}
.msg-wrapper-ou{
    justify-content: flex-start;
}
.msg{
    width: fit-content;
    height: fit-content;
    min-height: 40px;
    max-width: 60%;
    margin: 0 20px;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    text-align: justify;
    margin-top: 10px;
}
.msg p{
    white-space:pre-wrap;
    word-wrap: break-word;
}
.msg-current-user{
    background-color: #182238;
    text-align: justify;
}
.msg-other-user{
    background-color: #c2c2c2;
    color: #1f1f1f;
    text-align: justify;
}
.chat-date-created{
    width: 100%;
    height: 50px;
    background-color: rgb(228, 228, 228);
    text-align: center;
    line-height: 50px;
}
.chat-date-created p{
    color: #1f1f1f;
    font-size: 18px;
}
.chat-bar{
    position: relative;
    position: sticky;
    top:60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #111827;
    padding: 5px;
    z-index: 10000;
}
.chat-user-info{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.chat-user-info p{
    margin-left: 10px;
}
.chat-menu{
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #1e50c5;
}
.chat-menu li{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.chat-menu li:hover{
    background-color: #111827;
}
.chat-back-icon{
    display: none;
}
.chat-search{
    height: 50px;
    width: 100%;
    padding: 0 5px;
}
.chat-search .tn-center{
    width: 100%;
    z-index: 10000000000000;
    margin: 0;
}
.message-image, .message-video{
    max-width: 100%;
    max-height: 50vh;
    cursor: pointer;
}
.open-chat-media img{
    max-height: 95vh;
    max-width: 80vw;
}
/* POST REPORT */

.report-overlay, .open-chat-media{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 10000000;
}
.open-chat-media{
    background-color: rgba(0, 0, 0,1);
}
.report-overlay h3, .report-overlay p{
    width:40%;
    padding:5px;
    color:white;
    text-align:center;
    background-color:rgba(0,0,0,1);
}
.report-overlay h3{
    position: relative;
    padding-top: 10px;
}
.report-form{
    width: 40%;
    height: fit-content;
    padding:20px;
    background-color: rgba(0, 0, 0,1);
}
.report-form label{
    color: white;
    margin-left: 20px;
}
.report-form input{
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    -o-transform: scale(1.5); 
    transform: scale(1.5);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.submit-report{
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.submit-report:hover{
    background-color: #a8a8a8;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .edit-pf-box{
        width: 120%;
        margin-left: 30px;
    }
}

@media screen and (max-width: 991px){
    /* ENTRY */
    .entry-wrapper{
        padding: 5px;
    }
    .entry-form-box{
        width: 65%;
    }
    /* NAVBAR */
    .tn-left{
        display: none;
    }
    .tn-center{
        width: 50%;
    }
    .tn-right {
        width: auto;
    }
    .tn-menu-btn i{
        display: block;
        margin-left: 10px;
        font-size: 30px;
    }
    /* PROFILE */
    .main{
        padding: 80px 20px;
    }
    .profile-container{
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .profile-info-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .pf-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .pf-stats{
        width: 50%;
    }
    .profile-info-box .pf-edit-follow-btn{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    .profile-info-box .user-avatar{
        height: 150px !important;
        width: 150px !important;
    }
    .foll-user-box .user-avatar{
        height: 100% !important;
        width: 70px !important;
    }
    .foll-user-box .pf-edit-follow-btn{
        position: absolute;
        width: 150px;
    }
    /* POSTS */
    .posts-container-feed{
        width: 100%;
        justify-content: center;
    }
    /* LEFT NAVBAR */
    .left-navbar{
        position: fixed;
        top: 60px;
        left: 0;
        width: 250px;
        height: 100vh;
        border-radius: 0;
        transform: translateX(-110%);
    }
    /* EDIT PROFILE */
    .edit-pf-box{
        margin: 0;
        width: 100%;
    }
    /* CHATS */
    .all-chats-box{
        width: 250px;
    }
    .chat-msg-box{
        margin-left: 250px;
    }
    .msg-input-box{
        padding: 5px 20px 5px 270px;
    }
    .chat-date-created p{
        font-size: 15px;
    }
    /* REPORT POST */
    .report-form{
        width: 60%;
        max-height: 100vh;
    }
    .report-overlay h3, .report-overlay p{
        width:60%;
    }
}


@media screen and (max-width: 768px){
    /* ENTRY */
    .entry-form-box{
        width: 80%;
    }
    /* PROFILE */
    .pf-stats{
        width: 65%;
    }
    .add-np-box{
        width: 100% !important;
    }
    .post{
        width: 100% !important;
    }
    .user-list-box, .list-exit{
        width: 80%;
    }
    .foll-user-box .pf-edit-follow-btn{
        width: 110px;
    }
    /* EDIT PROFILE */
    .edit-box{
        width: 70%;
        padding: 30px 20px;
    }
    .edit-pf-sidebar{
        width: 30%;
    }
    .edit-pf-box .entry-form div{
        flex-direction: column !important;
    }
    /* CHATS */
    .all-chats-box{
        width: 100%;
    }
    .chat-msg-box{
        width: 100vw;
        height: 100vh;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .msg-input-box{
        padding: 5px 10px;
    }
    .chat-menu{
        width: 100%;
    }
    .chat-back-icon{
        display: block;
    }
    /* REPORT POST */
    .report-form{
        width: 80%;
    }
    .report-overlay h3, .report-overlay p{
        width:80%;
    }
    .report-form input{
        margin-top: 15px;
    }
}
@media screen and (max-width: 447px){
    /* ENTRY */
    .entry-wrapper{
        padding: 0;
    }
    .entry-form-box{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .entry-form{
        width: 100%;
    }
    /* PROFILE */
    .main{
        padding: 60px 0;
    }
    .pf-stats{
        width: 90%;
    }
    .add-np-tbtn i {
        font-size: 20px;
    }
    .add-np-tbtn p{
        display: none;
    }
    .fp-cmt-btn{
        height: 90%;
        margin: 0;
    }
    .user-list-box, .list-exit{
        width: 95%;
    }
    .foll-user-box{
        height: 60px;
    }
    .foll-user-info{
        margin-left: 5px;
    }
    .foll-user-info p:nth-child(1n){
        font-size: 14px;
    }
    .foll-user-box .pf-edit-follow-btn{
        bottom: 15px;
        right: 5px;
        font-size: 14px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
    .foll-user-box .user-avatar{
        width: 50px !important;
    }
    /* POSTS */
    .posts-container-feed{
        padding: 0;
        margin-top: 20px;
    }
    .profile-info-box, .post, .fp-add-comment,.add-np-box, .fp-info-save{
        border-radius: 0;
    }
    /* STORIES */
    .stories-container{
        height: 70px;
        border-radius: 0;
    }
    .stories-container .add-story-btn{
        width: 60px;
    }
    /* SEARCH */
    .search-drop{
        position: fixed;
        top: 55px;
        left: 0;
        width: 100vw;
    }
    /* NAVBAR */
    .top-navbar{
        padding: 5px;
    }
    .left-navbar{
        width: 100vw;
    }
    .tn-center{
        width: 60%;
        margin: 10px;
    }
    /* CHATS */
    .msg{
        max-width:80%;
    }
    .chat-search .search-drop{
        top: 110px;
    }
    /* POST REPORT */
    .report-form{
        width: 100%;
        height: 100vh;
    }
    .report-overlay h3, .report-overlay p{
        width:100%;
    }
    .submit-report{
        width: 100%;
    }
    .open-chat-media img{
        max-height: 95vh;
        max-width: 95vw;
    }
}



/* LOADER ANIMATIONS */

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}