/* LOGIN AND REGISTER USER FORMS */

.entry-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(27, 27, 27);
}
.entry-form-box{
    width:40%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 20px;
    padding: 50px 10px 20px 10px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
}
.entry-form-box h1{
    color: #ffbb00;
    margin-left: 10px;
}
.entry-form-box p{
    font-size: 14px;
    color: #494949;
    margin-bottom: 30px;
    margin-left: 10px;
    color: white;
}
.entry-form{
    width: 100%;
}
.entry-form a, .entry-link a{
    font-size: 14px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffbb00;
    align-self: flex-start;
}
.entry-form input, .birthdt-reg-box select{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #b8b8b8;
    font-size: 14px;
    outline: none;
    padding: 5px 10px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
    color: white;
}
.entry-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #ec9a00;
    color: white;
    font-size: 18px;
    box-shadow: 4px 4px 20px #ec9a00;
    margin-top: 25px;
}
.entry-btn:hover{
    background-color: #f3b645;
}
.entry-link{
    width: 100%;
    margin-top: 30px;
}
.entry-link h6{
    font-size: 12px;
    font-weight: lighter;
    color: #494949;
}
.reg-names-box, .birthdt-reg-box {
    width: 100%;
    display: flex;
    
}
.reg-names-box input:nth-child(1){
    margin-right: 5px;
}
.reg-names-box input:nth-child(2){
    margin-left: 5px;
}
.birthdt-reg-box select{
    margin-right: 5px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
}
.error-msg-box{
    width: 100%;
    background-color: #ff5050;
    border-radius: 30px;
    min-height: 40px;
    padding: 5px 20px;
}
.error-msg{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

/* NAVBAR */

.top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(27, 27, 27);
    z-index: 1000;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tn-left, .tn-center,.tn-right{
    width: 33.3%;
    height: 100%;
}
.tn-left{
    display: flex;
    align-items: center;
}
.logo{
    height: 80%;
    width: auto;
    color: white;
}
.logo h1{
    background: linear-gradient(to right, #ffd900, #ff5100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tn-search-input{
    width: 100%;
    height: 80%;
    border-radius: 0 50px 50px 0;
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 15px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
    border-left: none;
    color: white;
}
.search-icon{
    width: 35px;
    height: 80%;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
    border-right: none;
    color: #ffbb00;
    text-align: center;
    line-height: 40px;
    border-radius: 50px 0 0 50px;
}
.tn-right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tn-menu-btn i{
    font-size: 20px;
    color: white;
    display: none;
}
.user-avatar{
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffd900, #ff5100);
    overflow: hidden;
    border: 1px solid #ffbb00;
    cursor: pointer;
}
.tn-dropdown-menu{
    position: fixed;
    top: 60px;
    right: 0;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #757575;
    border-top: none;
    box-shadow: -2px 2px 10px;
}
.tn-center{
    position: relative;
}
.search-drop{
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: white;
    border: 1px solid #ffbb00;
    background-color: rgb(27, 27, 27);
}
.search-user-box{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 2px;
    border-bottom: 1px solid #ffbb00;
}
.search-user-box p, .search-user-box h5{
    color: white;
}
.search-user-box:hover{
    background-color: #3f3f3f;
}
.see-all-btn{
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #ffbb00;
}
.see-all-btn:hover{
    background-color: #b8b8b8;
}

.search-wrapper{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.search-results{
    width: 45%;
    height: auto;
    padding: 50px;
    text-align: center;
}

.like-clr{
    background-color: #ffbb00;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* PROFILE */

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 120px 10%;
}
.left-navbar{
    height: fit-content;
    width: 20%;
    padding: 0 5px;
    z-index: 999;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
}
.ln-list a li, .tn-dropdown-menu a li{
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    color: #ffbb00;
    font-size: 16px;
    padding-left: 15px;
    border-bottom: 1px solid #ffbb00;
    background-color: rgb(27, 27, 27);
}
.ln-list a li:hover, .tn-dropdown-menu a li:hover{
    background-color: #3f3f3f;
}

.profile-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.profile-info-box{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
}
.pf-info{
    height: 170px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: white;
}
.pf-name{
    font-size: 25px;
}
.pf-tagname{
    font-size: 14px;
}
.pf-stats {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 30px;
}
.pf-stats div{
    text-align: center;
    cursor: pointer;
}
.pf-stats div:nth-child(3){
    cursor:default;
}
.pf-stats div h6{
    font-size: 14px;
    color: #ffbb00;
}
.pf-stats div p{
    margin-top: 5px;
    font-size: 14px;
}
.pf-edit-follow-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 40px;
    color: #ffbb00;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
}
.pf-editpf-btn:hover{
    background-color: #cccccc;
}
.send-msg-btn{
    right: 180px;
}

/* USER LISTS */

.user-list-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1000000;
}
.user-list-box{
    width: 50%;
    max-width: 700px;
    height: auto;
    max-height: 60vh;
    background-color: white; 
    overflow-y: scroll;
    background-color: #ececec;
    background-color: rgb(27, 27, 27);
    /* border: 1px solid #ffbb00; */
}
.list-type{
    width: 100%;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    background-color: rgb(17, 17, 17);
    color: #ffbb00;
}
.list-exit{
    position: relative;
    width: 50%;
    max-width: 700px;
}
.list-exit .fas{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #ffbb00;
}
.empty-list{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}
.foll-user-box{
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 5px 10px;
}
.foll-user-box a{
    display: flex;
}
.foll-user-info{
    height: 100%;
    margin-left: 20px;
    align-items: flex-start !important;
}
.foll-user-info p{
    color: white;
}
.foll-user-info p:nth-child(1){
    font-size: 18px;
}
.foll-user-info p:nth-child(2){
    font-size: 14px;
    text-align: left;
}

/* EDIT PROFILE */

.edit-pf-box{
    width: 100%;
    height: auto;
    background-color: #d8d8d8;
    border-radius: 30px;
    border: 1px solid #1f1f1f;
    margin-left: 100px;
    display: flex;
}
.edit-pf-sidebar{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
}
.edit-pf-sidebar a li{
    font-size: 14px;
}
.edit-box{
    width: 80%;
    height: 100%;
    padding: 30px 100px;
}
.edit-pfp-container{
    position: relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1000000;
}
.edit-pfp-menu{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #464646;
    overflow: hidden;
}
.edit-pfp-menu ul{
    width: 100%;
}
.edit-pfp-menu ul li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #757575;
    text-align: center;
    line-height: 50px;
}
.edit-pfp-menu ul li:hover{
    background-color: #c2c2c2;
    cursor: pointer;
}

/* NEW POST BOX */
.add-np-box{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
}
.add-np-txt{
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
}
.add-np-txt img{
    height: 100%;
    border-radius: 50%;
}
.add-np-input{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    color: white;
}
.add-np-tbtn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}
.add-np-types{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}
.add-np-types i{
    font-size: 30px;
    color: #ffbb00;
    cursor: pointer;
}    
.add-np-types p{
    margin-left: 10px;
    font-size: 14px;
    color: #ffb833;
}   
.add-np-types i:hover{ 
    color: #f5ba6c;
}    
.dropzone-box{
    border: 2px dashed #ffbb00;
    border-radius: 20px;
}

/* POSTS */

.posts-container-feed{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    background-color: #161616;
}
.post{
    position: relative;
    width: 100%;
    margin-top: 40px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    /* border: 1px solid #ffbb00; */
}
.fp-info-save{
    width: 100%;
    height: 50px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffbb00;
    border-radius: 10px 10px 0 0;
    background-color: rgb(27, 27, 27);
}
.fp-info{
    height: 100%;
    display: flex;
    align-items: center;
}
.fp-info p{
    color: rgb(46, 46, 46);
    font-size: 16px;
    margin-left: 15px;
    color: white;
}
.fp-like-btn, .fp-save-btn, .fp-options-btn{
    color: rgb(27, 27, 27); 
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    -webkit-text-stroke:1px #ffbb00;
}
.fp-like-btn{
    margin-left: 5px;
    margin-right: 10px;
}
.fp-options-btn{
    margin-right: 10px;
    margin-left: 5px;
}
.fp-options-menu{
    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;
    border: 1px solid #ffbb00;
}
.fp-options-menu li{
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    color: white;
    font-size: 14px;
    padding-left: 15px;
    border-bottom: 1px solid #ffbb00;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}
.fp-options-menu li:hover{
    background-color: #dbdbdb;
}

.feed-post-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);

}
.feed-post-img img{
    max-width: 100%;
}
.post-text{
    width: 100%;
    min-height: 40px;
    padding: 10px 10px 20px 10px;
    color: white;
    background-color: rgb(27, 27, 27);
}

.like-count{
    font-size: 14px;
}


/* COMMENTS */

.comment-cont{
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 100%;
    color: white;
    padding-left: 5px;
    background-color: rgb(22,22,22);
}

.fp-add-comment{
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(27, 27, 27);
    color: white;
    border-top: 1px solid #ffbb00;
}
.fp-add-comment input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 2px;
}
.fp-cmt-btn{
    height: 100%;
    width: 100px;
    outline: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(27, 27, 27);
    border: 1px solid #ffbb00;
    color: #ffbb00;
}
.fp-cmt-btn:hover {
    background-color: #3f3f3f;
}

/* STORIES */

.stories-container{
    width: 100%;
    height: 80px;
    background-color: rgb(27, 27, 27);
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    border: 1px solid #ffbb00;
    display: flex;
    align-items: center;
    padding: 5px;
}    
.story{
    height: 100%;
    margin-left: 2%;
    border-radius: 50%;
}    
.story img{
    border-radius: 50%;
}    
.add-story-btn{
    height: 100%;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #ffbb00;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}
.add-story-btn i{
    font-size: 30px;
    color: #ffbb00;
}


/* LOADER */

.spinner-box{
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
}
.spinner{
    width:120px;height:120px;
    left:48%;top:40%;
    border: 10px solid #ff5e00;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.inner-spinner{
    width:100%;height:100%;
    left:48%;top:40%;
    border: 10px solid #ffbb00;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s reverse infinite;
}

/* CHATS */

.all-chats-box{
    position: fixed;
    top: 60px;
    left: 0;
    width: 350px;
    overflow-y: scroll;
    height: 100vh;
    border-right: 1px solid #ffbb00;
    z-index: 1000001;
    background-color: #161616;
}
.chat-user-box{
    position: relative;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffbb00;
    cursor: pointer;
}
.chat-user-box:hover{
    background-color: #3f3f3f;
}
.chat-name-msg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.chat-name-msg p{
    color: white;
}

.chat-box{
    position: relative;
    width: 100%;
    height: 100vh;
    padding:60px 0 0 350px;
    background-color: #3f3f3f;
}
.msg-input-box{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    height: 60px;
    padding: 10px 20px 10px 370px;
    width: 100%;
    z-index: 1000000;
    background-color: #161616;
}
.msg-input-box input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}
.chat-messages{
    width: 100%;
    height: 100%;
    background-color: rgb(173, 160, 134);
    overflow-y: scroll;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.msg-wrapper-cu, .msg-wrapper-ou{
    width: 100%;
    display: flex;
    min-height: 50px;
    padding: 5px;
}
.msg-wrapper-cu{
    justify-content: flex-end;
}
.msg-wrapper-ou{
    justify-content: flex-start;
}
.msg{
    width: fit-content;
    min-height: 40px;
    height: auto;
    margin: 0 20px;
    border-radius: 30px;
    padding: 0 10px;
}
.msg-current-user{
    background-color: #ffbb00;
}
.msg-other-user{
    background-color: white;
}





/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .edit-pf-box{
        width: 120%;
        margin-left: 30px;
    }
}

@media screen and (max-width: 991px){
    /* ENTRY */
    .entry-wrapper{
        padding: 5px;
    }
    .entry-form-box{
        width: 65%;
    }
    /* NAVBAR */
    .tn-left{
        display: none;
    }
    .tn-center{
        width: 50%;
    }
    .tn-right {
        width: auto;
    }
    .tn-menu-btn i{
        display: block;
        margin-left: 10px;
        font-size: 30px;
    }
    /* PROFILE */
    .main{
        padding: 80px 20px;
    }
    .profile-container{
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .profile-info-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .pf-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .pf-stats{
        width: 50%;
    }
    .profile-info-box .pf-edit-follow-btn{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    .profile-info-box .user-avatar{
        height: 150px !important;
        width: 150px !important;
    }
    .foll-user-box .user-avatar{
        height: 100% !important;
        width: 70px !important;
    }
    .foll-user-box .pf-edit-follow-btn{
        position: absolute;
        width: 150px;
    }
    /* POSTS */
    .posts-container-feed{
        width: 100%;
        justify-content: center;
    }
    /* LEFT NAVBAR */
    .left-navbar{
        position: fixed;
        top: 60px;
        left: 0;
        width: 250px;
        height: 100vh;
        border-radius: 0;
        transform: translateX(-110%);
    }
    /* EDIT PROFILE */
    .edit-pf-box{
        margin: 0;
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    /* PROFILE */
    .pf-stats{
        width: 65%;
    }
    .add-np-box{
        width: 100% !important;
    }
    .post{
        width: 100% !important;
    }
    .user-list-box, .list-exit{
        width: 80%;
    }
    .foll-user-box .pf-edit-follow-btn{
        width: 110px;
    }
    /* EDIT PROFILE */
    .edit-box{
        width: 70%;
        padding: 30px 20px;
    }
    .edit-pf-sidebar{
        width: 30%;
    }
    .edit-pf-box .entry-form div{
        flex-direction: column !important;
    }

}
@media screen and (max-width: 447px){
    /* PROFILE */
    .main{
        padding: 60px 0;
    }
    .pf-stats{
        width: 90%;
        /* padding: 5px 10px; */
    }
    .add-np-tbtn i {
        font-size: 20px;
    }
    .add-np-tbtn p{
        display: none;
    }
    .fp-cmt-btn{
        height: 90%;
        margin: 0;
    }
    .user-list-box, .list-exit{
        width: 95%;
    }
    .foll-user-box{
        height: 60px;
    }
    .foll-user-info{
        margin-left: 5px;
    }
    .foll-user-info p:nth-child(1n){
        font-size: 14px;
    }
    .foll-user-box .pf-edit-follow-btn{
        bottom: 15px;
        right: 5px;
        font-size: 14px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
    .foll-user-box .user-avatar{
        width: 50px !important;
    }
    /* POSTS */
    .posts-container-feed{
        padding: 0;
        margin-top: 20px;
    }
    .profile-info-box, .post, .fp-add-comment,.add-np-box{
        border-radius: 0;
    }
    /* STORIES */
    .stories-container{
        height: 70px;
        border-radius: 0;
    }
    .stories-container .add-story-btn{
        width: 60px;
    }
    /* SEARCH */
    .search-drop{
        position: fixed;
        top: 55px;
        left: 0;
        width: 100vw;
    }
    /* NAVBAR */
    .top-navbar{
        padding: 5px;
    }
    .left-navbar{
        width: 100vw;
    }
    .tn-center{
        width: 60%;
        margin: 10px;
    }
}



/* LOADER ANIMATIONS */

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}