
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #3f3f3f;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.flex-h{
    display: flex;
    align-items: center;
}
.flex-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-col-sb{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn{
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: ease .1s;
    cursor: pointer;
}
.wh-100{
    width: 100vw;
    height: 100vh;
}
