
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #1b1b1b;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.flex-h{
    display: flex;
    align-items: center;
}
.flex-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-sa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-col-sb{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn{
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: ease .1s;
    cursor: pointer;
}
.wh-100{
    width: 100vw;
    height: 100vh;
}










/* USER LISTS */

.user-list-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 100000;
}
.user-list-box{
    width: 50%;
    max-width: 700px;
    height: auto;
    max-height: 60vh;
    background-color: white; 
    overflow-y: scroll;
}
.list-type{
    width: 100%;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    background-color: #1b1b1b;
    color: white;
}
.list-exit{
    position: relative;
    width: 50%;
    max-width: 700px;
}
.list-exit .fas{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.empty-list{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}
.foll-user-box{
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 5px 10px;
}
.foll-user-box a{
    display: flex;
}
.foll-user-info{
    height: 100%;
    margin-left: 20px;
    align-items: flex-start !important;
}
.user-list-box .pf-edit-follow-btn{
    background-color: #1b1b1b;
    color: white;
    bottom: 20px;
}
.foll-user-info p{
    color: #1f1f1f;
}
.foll-user-info p:nth-child(1){
    font-size: 18px;
}
.foll-user-info p:nth-child(2){
    font-size: 14px;
    text-align: left;
}



/* SEARCH PAGE */

.search-container{
    width: 70%;
    margin: 10px;
}
.search-container .search-user-box:hover{
    background-color: #5f5f5f;
}
.search-container .search-user-box p{
    color: white;
}
.search-container .search-user-box h5{
    color: white;
}


/* MEDIA QUERIES */






/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    /* NOTIFICATIONS */
    .notifications-container{
        width: 35vw;
    }
    /* GROUPS */
    .group-members-box{ 
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 991px){
    /* ENTRY */
    .entry-wrapper{
        padding: 5px;
    }
    .entry-form-box{
        width: 65%;
    }
    /* NAVBAR */
    .tn-left{
        display: none;
    }
    .tn-center{
        width: 50%;
    }
    .tn-right {
        width: auto;
    }
    .tn-menu-btn i{
        display: block;
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    /* PROFILE */
    .main{
        padding: 80px 10px;
        margin: 0;
    }
    .profile-container{
        width: 100%;
        padding: 0;
    }
    .profile-top-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .pf-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .pf-stats{
        width: 50%;
    }
    .profile-top-box .pf-edit-follow-btn{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    .profile-info-box .user-avatar{
        height: 150px !important;
        width: 150px !important;
    }
    .foll-user-box .user-avatar{
        height: 100% !important;
        width: 70px !important;
    }
    .foll-user-box .pf-edit-follow-btn{
        position: absolute;
        width: 150px;
    }
    /* EDIT PROFILE */
    .edit-pf-box{
        margin: 0;
        width: 100%;
    }
    /* CHATS */
    .all-chats-box{
        width: 250px;
    }
    .chat-msg-box{
        margin-left: 250px;
    }
    .msg-input-box{
        padding: 5px 20px 5px 270px;
    }
    .chat-date-created p{
        font-size: 15px;
    }
    /* REPORT POST */
    .report-form{
        width: 60%;
        max-height: 100vh;
    }
    .report-overlay h3, .report-overlay p{
        width:60%;
    }
    /* STORIES */
    .story-box{
        width: 50%;
    }
    /* ALL CHAT MEDIA */
    .chat-all-media-container{
        padding: 60px 0 0 250px;
    }    
    .chat-all-media-box{
        grid-template-columns: 1fr 1fr 1fr;
    }    
    /* NOTIFICATIONS */
    .notifications-container{
        width:40vw;
    }
    /* GROUPS */
    .group-container{
        margin: 0;
    }
}


@media screen and (max-width: 768px){
    /* ENTRY */
    .entry-form-box{
        width: 80%;
    }
    /* PROFILE */
    .pf-stats{
        width: 65%;
    }
    .add-np-box{
        width: 100% !important;
        padding: 5px;
    }
    .add-np-tbtn{
        height: 40px ;
    }
    .add-np-types{
        margin: 0;
    }
    .post{
        width: 100% !important;
    }
    .user-list-box, .list-exit{
        width: 80%;
    }
    .foll-user-box .pf-edit-follow-btn{
        width: 110px;
    }
    /* EDIT PROFILE */
    .edit-box{
        width: 70%;
        padding: 30px 20px;
    }
    .edit-pf-sidebar{
        width: 30%;
    }
    .edit-pf-box .entry-form div{
        flex-direction: column !important;
    }
    /* CHATS */
    .all-chats-box{
        width: 100%;
    }
    .chat-msg-box{
        width: 100vw;
        height: 100vh;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .msg-input-box{
        padding: 5px 10px;
    }
    .chat-menu{
        width: 100%;
    }
    .chat-back-icon{
        display: block;
    }
    /* REPORT POST */
    .report-form{
        width: 80%;
    }
    .report-overlay h3, .report-overlay p{
        width:80%;
    }
    .report-form input{
        margin-top: 15px;
    }
    /* STORIES */
    .stories-container{
        width: 100%;
    }
    .story-box{
        width: 80%;
    }
    /* SEARCH PAGE */
    .search-container{
        width: 100%;
    }
    /* CHAT ALL MEDIA  */
    .chat-all-media-container{
        padding: 60px 0;
    }    
    .chat-all-media-box{
        grid-template-columns: 1fr 1fr 1fr;
    }    
    /* NOTIFICATIONS */
    .notifications-container{
        width: 60vw;
    }
    /* GROUPS */
    .info-container{
        padding: 0 10px;
    }
    .info-box{
        padding: 5px;
    }
    .info-box h2{
        font-size: 16px;
    }
    .groups-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

}   

@media screen and (max-width:580px){
    .notifications-container{
        right: 0;
        width: 100vw;  
        min-height: calc(100vh - 60px);
    }
    /* GROUPS */
    .feed-container{
        flex-direction: column-reverse;
    }
    .info-container{
        width: 100%;
        padding: 0;
    }
    .info-box{
        border-radius: 0;
        margin-top: 5px;
    }
    .posts-container{
        width: 100%;
    }
    .group-banner{
        border-radius: 0;
        margin-top: 10px;
    }
    .group-banner h1{
        font-size: 20px;
    }
    .group-join-btn{
        bottom: 6px;
        padding: 4px 15px;
        min-width: 110px;
    }
    .groups-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 447px){
    /* ENTRY */
    .entry-wrapper{
        padding: 0;
    }
    .entry-form-box{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .entry-form{
        width: 100%;
    }
    /* PROFILE */
    .main{
        padding: 50px 0;
    }
    .pf-stats{
        width: 90%;
    }
    .add-np-tbtn i {
        font-size: 20px;
    }
    .add-np-tbtn p{
        display: none;
    }
    .fp-cmt-btn{
        height: 90%;
        margin: 0;
    }
    .user-list-box, .list-exit{
        width: 95%;
    }
    .foll-user-box{
        height: 60px;
    }
    .foll-user-info{
        margin-left: 5px;
    }
    .foll-user-info p:nth-child(1n){
        font-size: 14px;
    }
    .foll-user-box .pf-edit-follow-btn{
        bottom: 15px;
        right: 5px;
        font-size: 14px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
    .foll-user-box .user-avatar{
        width: 50px !important;
    }
    /* POSTS */

    /* SEARCH */
    .search-drop{
        position: fixed;
        top: 55px;
        left: 0;
        width: 100vw;
    }
    /* NAVBAR */
    .top-navbar{
        padding: 5px;
    }
    .left-navbar{
        width: 100vw;
    }
    .tn-center{
        width: 60%;
        margin: 10px;
    }
    /* CHATS */
    .msg{
        max-width:80%;
    }
    .chat-search .search-drop{
        top: 110px;
    }
    /* POST REPORT */
    .report-form{
        width: 100%;
        height: 100vh;
    }
    .report-overlay h3, .report-overlay p{
        width:100%;
    }
    .submit-report{
        width: 100%;
    }
    .open-chat-media img{
        max-height: 95vh;
        max-width: 95vw;
    }
    /* SEARCH PAGE */
    .search-container{
        margin-top: 20px;
    }
    .chat-all-media-container{
        padding: 60px 0;
    }    
    .chat-all-media-box{
        grid-template-columns: 1fr 1fr;
        height: 150px;
    }    
    /* NOTIFICATIONS */
    /* GROUPS */
    .group-members-box{
        border-radius: 0;
        margin-top: 10px;
    }
    .groups-grid{
        grid-template-columns: 1fr;
        margin-top: 10px;
    }
}