.my-groups-box{
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2f2f2f;
}
.my-groups-box-title{
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 12px;
}
.my-groups-box-group{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.no-posts-box{
    width: 100%;
    height: 200px;
}
.no-posts-box a{
    border-radius: 10px;
    padding: 10px 50px;
    box-shadow: 5px 5px 10px black;
    background: linear-gradient(to bottom right,#3f3f3f, #161616);
}
.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 10000;
}
.sidebar img{
    height: 30px;
}
.nav-active{
    background: linear-gradient(to bottom right,#1f1f1f, #2f2f2f);
}
.ln-list a{
    width: 100%;
}
.ln-list a, .tn-dropdown-menu a li{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    text-align: left;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;
}
.ln-list a:hover, .tn-dropdown-menu a li:hover{
    background-color: #1f1f1f;

}
.ln-list a p{
    margin-left: 10px;
}
.logo img{
    height: 100%;
    margin: 0 10px 0 5px;
}
.alternative-navbar{
    position: sticky;
    top: 60px;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #1b1b1b;
    z-index: 100000;
    box-shadow: 2px 2px 5px;
    display: none;
    z-index: 100000000;
}
.alternative-navbar img{
    height: 25px;
}  
.small-spinner{
    width:60px;height:60px;
    left:48%;top:40%;
    border: 5px solid white;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.user-avatar{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.follow-button{
    background-color: white;
    width: 80px;
    padding: 2px;
    font-size: 14px;
}
.follow-button p{
    color: #1b1b1b;
}

.user-suggest-cont div, .user-suggest-cont h4{
    border: none !important;
    max-height: fit-content !important;
}
.user-suggest-cont h4{
    border-top: 1px solid #3f3f3f !important;
    border-radius: 0 !important;
}

/* EMOJIS BOX */

.emojis-box{
    background-color: #1b1b1b;
    max-height: 300px;
    overflow: auto;
    padding: 10px 0 10px 10px;
    border: 10px solid #1f1f1f;
}
.emojis-sub-box{
    width: 100%;
    display: grid;
    gap: 5px;
}
.emojis-box p{
    font-size: 25px;
    cursor: pointer;
}
.activity_light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-sugg-box{
    border-radius: 0 0 10px 10px;
    border-top: none;
    overflow: auto;
    max-height: 60vh;
    box-shadow: none;
    margin-top: 0 !important;
}
.user-sugg-box-title{
    width: 100%;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #2f2f2f;
    border-bottom: none;
    margin-top: 30px;
    color: white;
}
.tags-box{
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: 40px;
    border-radius: 10px;
    flex-flow: wrap;
    padding-bottom: 5px;
    margin-top: 10px;
    overflow: auto;
    max-height: 100px;
}
.tag{
    padding: 5px 10px;
    background-color: #13306e;
    font-size: 14px;
    color: white;
    height: fit-content;
    border-radius: 20px;
    margin: 5px 0 0 5px;
}
.gcard_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: ease .2s;
}
.gcard_overlay:hover{
    background-color: rgba(0, 0, 0,0.7);
}
.gcard_overlay p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.gcard_overlay h4{
    color: white;
}
/* MEDIA QUERIES */


@media screen and (max-width: 991px){
    .sidebar{
        display: none;
    }
    .alternative-navbar{
        display: block;
    }
    .users-list-box{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .users-list-box{
        width: 75%;
    }
}

@media screen and (max-width: 447px){
    .sidebar{
        width: 100vw;
    }
    .users-list-box{
        width: 100vw;
        max-height: 100vh;
        height: 100vh;
        border-radius: 0;
        padding: 5px 0;
    }
}

/* LOADER ANIMATIONS */

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
