.my-groups-box{
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2f2f2f;
    /* margin-top: 10px; */
}
.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 10000;
}
.ln-list a li, .tn-dropdown-menu a li{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    text-align: left;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    background-color: #1b1b1b;
}
.ln-list a li:hover, .tn-dropdown-menu a li:hover{
    background-color: #1f1f1f;

}
.ln-list a li i{
    width: 20px;
    font-size: 20px;
}
.ln-list a li p{
    margin-left: 20px;
}

.alternative-navbar{
    position: sticky;
    top: 60px;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: #1b1b1b;
    z-index: 100000;
    box-shadow: 2px 2px 5px;
    display: none;
}

/* LOADER */

.spinner-box{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10000000000000000;
    min-height: 120px;
}
.spinner {
    width:120px;height:120px;
    left:48%;top:40%;
    border: 10px solid #111827;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.inner-spinner{
    width:100%;height:100%;
    left:48%;top:40%;
    border: 10px solid #111827;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s reverse infinite;
}
.small-spinner{
    width:60px;height:60px;
    left:48%;top:40%;
    border: 5px solid white;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.user-avatar{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}


/* USER LISTS */

.container-users-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 10000000000000;
}
.users-list-box{
    width: 40%;
    max-height: 80vh;
    background-color: #1b1b1b;
    border-radius: 10px; 
    overflow: auto;
}
.users-list-top-bar{
    position: relative;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.users-list-user-box{
    position: relative;
    display: flex;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: ease .3s;
}
.users-list-user-box:hover{
    background-color: #2f2f2f;
}
.follow-button{
    background-color: white;
    width: 90px;
    padding: 5px;
}

/* MEDIA QUERIES */


@media screen and (max-width: 991px){
    .sidebar{
        display: none;
    }
    .alternative-navbar{
        display: block;
    }
    .users-list-box{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .users-list-box{
        width: 75%;
    }
}

@media screen and (max-width: 447px){
    .sidebar{
        width: 100vw;
    }
    .users-list-box{
        width: 100vw;
        max-height: 100vh;
        height: 100vh;
        border-radius: 0;
        padding: 5px 0;
    }
}

/* LOADER ANIMATIONS */

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

/* story load animation */

@-webkit-keyframes load {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes load {
    0% {width: 0%;}
    100% {width: 100%;}
}