/* PROFILE */

.profile-top-box{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #2f2f2f;
    box-shadow: 2px 2px 10px;
}
.profile-top-box-info{
    height: 170px;
    padding: 10px 30px;
    align-items:flex-start;
    color: white;
    text-align: center;
}
.profile-top-box-stats {
    width: 280px;
    margin-top: 20px;
}
.profile-top-box-stats div h6{
    font-size: 15px;
    color: white;
}
.profile-top-box-stats div p{
    margin-top: 5px;
    font-size: 15px;
}
.profile-top-box-buttons{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
    height: 40px;
    color: #111827;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: whitesmoke;
}
.send-msg-btn{
    right: 180px;
}

/* user info */

.profile-side-info-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}
.profile-side-info-box div{
    margin: 15px 0;
}
.profile-side-info-box div i{
    width: 25px;
}
.profile-side-info-box p{
    margin-left: 10px;
    font-size: 14px;
}
.profile-side-info-box h5{
    font-size: 12px;
    margin-left: 8px;
    word-wrap: normal;
}
/* my interests */

.profile-interests-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}

/* settings */

.edit-profile-nav{
    width: 100%;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
}
.edit-profile-nav ul{
    width: 100%;
}
.edit-profile-nav li{
    width: 100%;
    padding: 15px;
    color: white;
    transition: ease .3s;
}
.edit-profile-nav li:hover{
    background-color: #2f2f2f;
    cursor: pointer;
}
.edit-pfp-menu{
    width: 30%;
    background-color: #1b1b1b;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #2f2f2f;
    cursor: pointer;
}
.edit-pfp-menu li{
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    transition: ease .3s;
}
.edit-pfp-menu li:hover{
    background-color: #2f2f2f;
}
.change-pass-box{
    width:100%;
    padding:10px;
    border:1px solid #2f2f2f;
    border-radius:5px;
    box-shadow:5px 5px 10px;
}
.change-pass-box input{
    width: 60%;
    height: 35px;
    border: 1px solid #ffbb00;
    margin-top: 10px;
}
.disable-acc-box div:hover{
    background-color: #2f2f2f;
}
.settings-arrow-back{
    position: absolute;
    left:15px;
    top:14px;
    font-size: 20px;
    color: white;
    display: none;
    z-index: 1;
}

/* user info setting */

.edit-user-info-box{
    width:100%;
    padding:10px;
    box-shadow:5px 5px 10px black;
    border:1px solid #2f2f2f;
    border-radius:5px;
    color:white;
    margin-top: 10px;
}
.edit-user-info-box div{
    width: 100%;
    margin-top: 10px;
}
.edit-user-info-box h5{
    min-width: 70px;
}
.edit-user-info-box input{
    height: 35px;
    border: 1px solid #ffbb00;
}
.edit-user-info-box select{
    height: 35px;
    width: 100%;
    margin-left: 5px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #ffbb00;
}
.bDate-form select{
    width: 60%;
}
/* MEDIA QUERIES */


@media screen and (max-width: 991px){
    .profile-top-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .profile-top-box-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .profile-top-box-stats{
        width: 50%;
    }
    .profile-top-box .profile-top-box-buttons{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    /* EDIT PROFILE */
    .edit-pf-box{
        margin: 0;
        width: 100%;
    }
    .edit-pfp-menu{
        width: 50%;
    }
}


@media screen and (max-width: 768px){
    /* PROFILE */
    .profile-top-box-stats{
        width: 65%;
    }
    /* EDIT PROFILE */
    .edit-box{
        width: 70%;
        padding: 30px 20px;
    }
    .edit-pf-sidebar{
        width: 30%;
    }
    .edit-pf-box .entry-form div{
        flex-direction: column !important;
    }
    .settings-arrow-back{
        display: block;
    }
    .edit-pfp-menu{
        width: 60%;
    }
}   
@media screen and (max-width: 447px){
    .profile-top-box{
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .profile-top-box-stats{
        width: 90%;
    }
    .change-pass-box input{
        width: 100%;
    }
    .edit-user-info-box div{
        flex-direction: column !important;
        align-items: center !important;
    }
    .edit-user-info-box h5{
        min-width: none;
        text-align: center;
    }
    .edit-user-info-box select{
        margin-top: 5px;
    }
    .bDate-form select{
        width: 100%;
    }
    .edit-pfp-menu{
        width: 95%;
    }
}