.profile-top-box{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #2f2f2f;
    box-shadow: 2px 2px 10px;
    overflow: hidden;
}
.profile-top-box-info{
    height: 170px;
    padding: 10px 30px;
    align-items:flex-start;
    color: white;
    text-align: center;
}
.profile-top-box-stats {
    width: 280px;
    margin-top: 20px;
}
.profile-top-box-stats div h6{
    font-size: 15px;
    color: white;
}
.profile-top-box-stats div p{
    margin-top: 5px;
    font-size: 15px;
}
.profile-top-box-buttons{
    position: absolute;
    bottom: 5px;
    right: 10px;
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: ease .3s;
    background-color: #104b41;
    color: white;
}
.profile-top-box-buttons p{
    color: white;
    font-size: 16px;
}
.send-msg-btn{
    right: 170px;
}
.ptb-menu-btn{
    position: absolute;
    top: 20px;
    right: 15px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.name-and-status-pf{
    display: flex;
    align-items: center;
}
.name-and-status-pf h4{
    font-size: 30px;
}
.status-991px{
    display: none;
}
.pf-pfp-box{
    padding-top: 10px;
}
.pf-camera-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}
.pf-story-icon{
    height: 25px;
    position: absolute;
    top: 20px;
    right: 65px;
    cursor: pointer;
}

@media screen and (max-width: 991px){
    .profile-top-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .profile-top-box-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .profile-top-box-stats{
        width: 50%;
    }
    .profile-top-box .profile-top-box-buttons{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    .name-and-status-pf{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .name-and-status-pf div{
        display: none;
    }
    .status-991px{
        display: block;
        margin-top: 10px;
    }
    .status-991px div{
        margin: 0 !important;
    }
    
}


@media screen and (max-width: 768px){
    /* PROFILE */
    .profile-top-box-stats{
        width: 65%;
    }
    .settings-arrow-back{
        display: block;
    }
}   
@media screen and (max-width: 447px){
    .profile-top-box{
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .profile-top-box-stats{
        width: 90%;
    }
}