/* PROFILE */

.profile-top-box{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #2f2f2f;
    box-shadow: 2px 2px 10px;
}
.profile-top-box-info{
    height: 170px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: white;
}
.profile-top-box-stats {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 20px;
}

.profile-top-box-stats div h6{
    font-size: 15px;
    color: white;
}
.profile-top-box-stats div p{
    margin-top: 5px;
    font-size: 15px;
}

/* ------- */
.profile-top-box-buttons{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
    height: 40px;
    color: #111827;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: whitesmoke;
}
.send-msg-btn{
    right: 180px;
}


/* EDIT PROFILE */

.edit-pf-box{
    width: 100%;
    height: auto;
    background-color: #111827;
    border-radius: 10px;
    border: 1px solid #1f1f1f;
    display: flex;
}
.edit-pf-sidebar{
    width: 20%;
    height: 100%;
    background-color: #111827;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.edit-pf-sidebar a li{
    font-size: 14px;
}
.edit-box{
    width: 80%;
    height: 100%;
    padding: 30px 100px;
}
.edit-pfp-container{
    position: relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1000000;
}
.edit-pfp-menu{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #464646;
    overflow: hidden;
}
.edit-pfp-menu ul{
    width: 100%;
}
.edit-pfp-menu ul li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #757575;
    text-align: center;
    line-height: 50px;
}
.edit-pfp-menu ul li:hover{
    background-color: #c2c2c2;
    cursor: pointer;
}

/* user info */

.profile-side-info-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}
.profile-side-info-box div{
    margin: 15px 0;
}
.profile-side-info-box div i{
    width: 25px;
}
.profile-side-info-box p{
    margin-left: 10px;
}
.profile-side-info-box p{
    font-size: 14px;
}

/* my interests */

.profile-interests-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}


/* MEDIA QUERIES */


@media screen and (max-width: 991px){
    .profile-top-box{
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    .profile-top-box-info{
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 15px;
        align-items: center;
    }
    .profile-top-box-stats{
        width: 50%;
    }
    .profile-top-box .profile-top-box-buttons{
        position: static;
        margin-top: 50px;
        width: 250px;
    }
    .send-msg-btn{
        margin-top: 10px !important;
    }
    /* EDIT PROFILE */
    .edit-pf-box{
        margin: 0;
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    /* PROFILE */
    .profile-top-box-stats{
        width: 65%;
    }
    /* EDIT PROFILE */
    .edit-box{
        width: 70%;
        padding: 30px 20px;
    }
    .edit-pf-sidebar{
        width: 30%;
    }
    .edit-pf-box .entry-form div{
        flex-direction: column !important;
    }
}   
@media screen and (max-width: 447px){
    .profile-top-box{
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .profile-top-box-stats{
        width: 90%;
    }
}