.post-media-box{
    width: 100%;
}
.post-media-box img, .post-media-box video{
    max-height: 70vh;
    max-width: 100%;
    animation-name: fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.post-media-loader{
    height: 300px;
    width: 100%;
    z-index: 10000;
    background-color: #1b1b1b;
}


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}