/* CHATS */
.container-chat{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.all-chats-box{
    position: sticky;
    top: 60px;
    left: 0;
    min-width: 350px;
    overflow:auto;
    height: calc(100vh - 60px);
    z-index: 1000;
    background-color: #1b1b1b;
    padding-top: 5px;
    align-items: center !important;
    padding: 5px;
}
.chat-user-box{
    position: relative;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: ease .2s;
    border-radius: 5px;
}
.chat-user-box:hover{
    background-color: #2f2f2f;
}
.chat-name-msg{
    height: 90%;
    margin-left: 20px;
}
.chat-msg-box{
    position: relative;
    height: 100vh;
    width: 100%;
    padding-bottom:105px;
    padding-top: 60px;
    z-index: 999;
}
.msg-input-box{
    position: relative;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    padding: 5px 10px;
    width: 100%;
    z-index: 1000;
    background-color: #1b1b1b;
}
.msg_text {
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    resize: none;
}
.chat-messages{
    width: 100%;
    height:100%;
    background-color: #2f2f2f;
    overflow:auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
}
.msg-wrapper-cu, .msg-wrapper-ou{
    width: 100%;
    padding: 0 5px;
}
.msg-wrapper-cu{
    align-items: flex-end;
}
.msg-wrapper-ou{
    align-items: flex-start;
}
.msg-inner-wrapper-cu{
    width: 100%;
    justify-content: flex-end;
}
.msg-inner-wrapper-ou{
    width: 100%;
    justify-content: flex-start;
}
.msg{
    max-width: 60%;
    margin: 0 5px;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-align: justify;
    margin-top: 10px;
}
.msg p{
    white-space:pre-wrap;
    word-wrap: break-word;
}
.msg a{
    text-decoration: underline;
}
.msg a:hover{
    color: #aaa;
}
.msg-current-user{
    background-color:#00633d;
    cursor: pointer;
}
.msg-other-user{
    background-color: whitesmoke;
    color: #1b1b1b;
    cursor: pointer;
}
.msg-other-user p{
    color: #1b1b1b;
}
.msg-preview-bar{
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
    position: absolute;
    bottom: 50px;
    z-index: 10000000000000000000000000000;
    padding: 5px;
}
.msg-preview-media{
    height: 100%;
    max-width: 100%;
}
.msg-preview-clear-btn{
    width: 30px;
    height: 100%;
    background-color: #2f2f2f;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.story-msg-box{
    width: 200px;
    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
}
.story-msg-box p{
    color: #aaa;
    font-size: 14px;
    margin-bottom: 5px;
}
.story-message-image{
    width: 100%;
    border-radius: 10px;
}
.chat-bar{
    position: relative;
    position: sticky;
    top:60px;
    left: 0;
    width: 100%;
    background-color: #1b1b1b;
    padding: 5px;
    z-index: 10000;
}
.bar-btns{
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-right: 30px;
}
.bar-btns:nth-child(3){
    margin-right: 15px;
}
.chat-menu{
    position: absolute;
    top: 55px;
    right: 0;
    width: 400px;
    height: calc(100vh - 115px);
    background-color: #1f1f1f;
    overflow: auto;
}
.chat-menu ul{
    width: 100%;
    min-height: 100%;
    padding: 10px;
}
.chat-menu li{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid #2f2f2f;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #1b1b1b;
}
.chat-menu li:hover{
    background-color: #2f2f2f;
}
.chat-back-icon{
    display: none;
}
.message-image, .message-video{
    max-width: 100%;
    max-height: 50vh;
    cursor: pointer;
}
.chats-options{
    width: 100%;
    margin: 10px 0 5px 0;
}
.chats-options-bar{
    width:100%;
    height: 50px;
    justify-content: flex-end;
    padding: 5px 15px;
    border: 1px solid #2f2f2f;
    background-color: #1f1f1f;
    border-radius: 10px;
}
.create-group-chat-box{
    position: relative;
    height: 90px;
    width: 100%;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
}
.create-group-chat-box input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}
.create-group-chat-box button{
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 10px;
}
.chat-back-icon{
    display: none;
    margin-left: 5px;
    font-size: 20px;
    color: white;
    margin-right: 15px;
}
.cb-user-name{
    color: white;
    margin-left: 10px;
}
.msg-loader{
    padding: 60px 100px 30px 0;
    align-self: flex-end;
    z-index: 1;
}
.msg-load-more{
    width: 100%;
    padding: 5px;
    background-color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    color: white;
}
.del-msg-btn{
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
    margin-top: 10px;
    margin-right: 10px;
}
.link-msg{
    color: white;
    text-decoration: underline !important;
}
.msg-timestamp{
    width: 100%;
    text-align: right;
}
.msg-upload-btn{
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.del-chat-btn{
    color: #940a00;
}
.del-chat-confirm-box{
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}
.conf-box-btns{
    margin: 5px 10px;
    padding: 5px 10px;
}
.msg-length-err{
    position: absolute;
    top: -30px;
    padding: 5px 10px;
    background-color: #1b1b1b;
    color: red;
    border-radius: 10px 10px 0 0;
}
/* EMOJIS */
.emojis-btn{
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}
.chat-msg-box .emojis-box{
    position: absolute;
    bottom: 50px;
    left: 10px;
}
.chat-msg-box .emojis-sub-box{
    grid-template-columns: repeat(8, 1fr);
}
.chat-msg-box .emojis-sub-box p{
    font-size: 20px;
}
.chat-msg-box .emojis-title{
    color: #aaa !important;
    font-size:14px;
    background-color: #1f1f1f;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.activity-status-chat{
    align-items: flex-start;
}
.activity-status-chat div{
    margin-left: 10px !important;
    margin-top: 5px;
    color: #aaa;
}
/* MEDIA QUERIES */

@media screen and (max-width: 991px){
    /* ALL CHAT MEDIA */
    .chat-all-media-container{
        padding: 60px 0 0 250px;
    }    
    .chat-all-media-box{
        grid-template-columns: 1fr 1fr 1fr;
    }    
    .chat-msg-box .emojis-sub-box{
        grid-template-columns: repeat(12, 1fr);
        gap: 2px;
    }
    .chat-msg-box .emojis-box{
        width: 100%;
        left: 0;
    }
    .wrapper-chat .top-navbar{
        display: none;
    }
}


@media screen and (max-width: 768px){
    /* CHATS */
    .all-chats-box{
        width: 100%;
    }
    .chat-msg-box{
        width: 100vw;
        height: 100vh;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .msg-input-box{
        padding: 5px 10px;
    }
    .chat-menu{
        width: 100%;
    }
    .chat-back-icon{
        display: block;
    }
    /* CHAT ALL MEDIA  */
    .chat-all-media-container{
        padding: 60px 0;
    }    
    .chat-all-media-box{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}   

@media screen and (max-width: 447px){
    /* CHATS */
    .msg{
        max-width:80%;
    }
    .chat-search .search-drop{
        top: 110px;
    }
    .chat-msg-box .emojis-box{
        width: 100%;
        max-height: calc(100vh - 170px);
    }
    .chat-msg-box .emojis-sub-box{
        grid-template-columns: repeat(7, 1fr);
        gap: 0;
    }
}