.post{
    position: relative;
    width: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #2f2f2f;
    z-index: 10000000;
}


/* top bar */
.post-top-bar{
    width: 100%;
    min-height: 50px;
    padding: 5px 10px;
}
.post-options-menu{
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    border-bottom-left-radius: 10px;
    background-color: #1b1b1b;
    border: 1px solid #3f3f3f;
    z-index: 1000;
}
.post-options-menu ul{width:100%; cursor: pointer;}
.post-options-menu ul li{
    width: 100%;
    padding: 8px 20px;
    color: white;
}
.post-options-menu ul li:hover{
    background-color: #3f3f3f;
}
/* bottom bar */

.post-bottom-bar{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 5px;
}
.post-button{
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    color: #1f1f1f;
    padding: 5px 15px;
}
.post-button:hover{
    background-color: #aaa;
}
/* post text bar */
.post-text-bar{
    width: 100%;
    min-height: 70px;
    padding: 10px 10px 20px 10px;
}
.post-text-bar p{
    color: white;
    white-space: pre-wrap;
}
/* post media */
.post-media-box{
    width: 100%;
}

/* comments */
.post-comments-box{
    width: 100%;
}
.comment{
    padding: 10px;
}

/* create post */

.create-post-box{
    width: 100%;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px;
}

.create-post-box i{
    font-size: 25px;
    color: white;
}
.create-post-box p{
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
.create-post-box label{
    cursor: pointer;
}

.create-post-box .emojis-box{
    visibility: visible !important;
    padding: 5px !important;
    max-height: 150px !important;
}
.create-post-box .emojis-sub-box{
    grid-template-columns: repeat(12, 1fr);
}
.create-post-box .emojis-box p{
    font-size: 20px;
    cursor: pointer;
}

/* report post */

.container-report{
    width: 100%;
}

.report-form{
    position: relative;
    width: 40%;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    color:white;
    width: 100%;
}
.report-form label{
    margin-left: 10px;
}
.report-form input{
    margin-top: 10px;
}

.post-media-preview{
    height: 100px;
}
.post-media-preview img, .post-media-preview video{
    height: 100%;
}

.likes-list{
    width: 100%;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #1f1f1f;
    padding: 10px 20px;
}
.likes-list-box{
    width: 100%;
}

@media screen and (max-width:1400px){
    .create-post-box .emojis-sub-box{
        grid-template-columns: repeat(9, 1fr);
        gap: 0 !important;
    }
}

@media screen and (max-width:768px){
    .create-post-box .emojis-sub-box{
        grid-template-columns: repeat(10, 1fr);
        gap: 0 !important;
    }
}
@media screen and (max-width:447px){
    .post{
        margin-top: 10px;
        border-radius: 0;
    }
    .create-post-box{
        margin-top: 0;
        border-radius: 0;
    }
    .comment{
        padding:5px;
    }
    .create-post-box .emojis-sub-box{
        grid-template-columns: repeat(6, 1fr);
    }
    .likes-list{
        padding: 10px 0;
    }
}