/* NAVBAR */

.top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000000;
}
.tn-left, .tn-center,.tn-right{
    width: 33.3%;
    height: 100%;
}
.tn-left{
    display: flex;
    align-items: center;
}
.logo{
    height: 80%;
    width: auto;
    color: white;
}
.tn-search-input{
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 15px;
    background-color: #2f2f2f;
    border: 1px solid #3f3f3f;
    border-left: none;
    color: white;
}
.search-icon{
    width: 35px;
    height: 80%;
    border: 1px solid #3f3f3f;
    background-color: #2f2f2f;
    border-right: none;
    text-align: center;
    line-height: 40px;
    border-radius: 50px 0 0 50px;
}
.tn-right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tn-menu-btn i{
    font-size: 20px;
    color: white;
    display: none;
}
.tn-dropdown-menu{
    position: fixed;
    top: 60px;
    right: 0;
    width: 250px;
    background-color: #1b1b1b;
    border-top: none;
    box-shadow: -2px 2px 10px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.tn-center{
    position: relative;
}
.search-drop{
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
}
.search-user-box{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: ease .3s;
    border-radius: 5px;
}
.search-user-box p, .search-user-box h5{
    color: white;
}
.search-user-box:hover{
    background-color: #2f2f2f;
}
.see-all-btn{
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #111827;
}
.see-all-btn:hover{
    background-color: #b8b8b8;
}

.search-wrapper{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.search-results{
    width: 45%;
    height: auto;
    padding: 50px;
    text-align: center;
}
.searchHis-drop{
    width: 100%;
}
.search-history-box{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color:white;
}
.search-history-box:hover{
    background-color: #2f2f2f;
}

/* NOTIFICATIONS */

.notifications-container{
    position: absolute;
    top: 60px;
    right: 50px;
    width:30vw;
    height: auto;
    background-color: #1b1b1b;
    max-height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px;
    border: 1px solid #2f2f2f;
}
.notification-box{
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-right: 55px;
}
.notification-box:hover{
    background-color: #2f2f2f;
}
.notif-text p{
    margin-left: 10px;
    font-size: 14px;
    color: white;
}
.nb-right{
    position: absolute;
    top: 21px;
    right: 5px;
}
.nb-right .set-time-p{
    color: white;
}
.nb-right .follow-button{
    margin-right: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    /* NOTIFICATIONS */
    .notifications-container{
        width: 35vw;
    }
}

@media screen and (max-width: 991px){
    /* NAVBAR */
    .tn-left{
        width: fit-content;
    }
    .logo-text{
        display: none;
    }
    .tn-center{
        width: 50%;
    }
    .tn-right {
        width: auto;
    }
    .tn-menu-btn i{
        display: block;
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    /* NOTIFICATIONS */
    .notifications-container{
        width:40vw;
    }
}


@media screen and (max-width: 768px){
    /* NOTIFICATIONS */
    .notifications-container{
        width: 60vw;
    }
}   

@media screen and (max-width:580px){
    .notifications-container{
        right: 0;
        width: 100vw;  
        min-height: calc(100vh - 60px);
    }
}
@media screen and (max-width: 447px){
    /* NAVBAR */
    .top-navbar{
        padding: 5px;
    }
    .tn-center{
        width: 60%;
        margin: 10px;
    }
    .search-drop{
        position: fixed;
        left: 0;
        top: 55px;
        width: 100vw;
        height: 100vh;
    }
}